---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="text-6xl font-bold mb-6">Hello.</h1>
    <h2 class="text-3xl font-semibold mb-4">My name is Emiliano Maldonado.</h2>
    <p class="text-lg leading-relaxed mb-4">
      I am a full-stack software developer and a student of Software Technology Engineering at UANL. I currently work at UANL as a full-stack developer but am always open to exploring new project opportunities.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      I am the co-founder of <a href="https://github.com/nexorbs" target="_blank">NexOrbs</a>, a technology consulting firm I started with three close friends. Together, we help businesses develop and optimize their software projects.
    </p>
    <p class="text-lg leading-relaxed mb-4">
    In addition to client work, I have created <a href="https://crates.io/crates/grow-rs" target="_blank">Grow-rs</a>, a database seeder tool, and <a href="https://crates.io/crates/adn" target="_blank">ADN</a>, a facilitator for installing Language Server Protocols (LSP) in the Helix editor. I enjoy working with technologies like <b>Vue</b>, <b>Rust</b>, and <b>.NET</b> to deliver high-quality software solutions.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      When I'm not coding, I enjoy watching Formula 1 and NFL games, two of my favorite sports. You can follow me on <a href="https://www.threads.net/@maldonado.grz" target="_blank">Threads</a>, <a href="https://x.com/omfg_09" target="_blank">X</a>, or <a href="https://www.linkedin.com/in/emigarza/" target="_blank">LinkedIn</a>, where I often share content related to programming and software development. You can also explore my work on <a href="https://github.com/Wilovy09" target="_blank">GitHub</a>.
    </p>
</Layout>


<style>
a {
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  &:hover{
    cursor: pointer;
    &::after {
      height: 90%;
      top: 0%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 100%;
    left: -0.1em;
    right: -0.1em;
    top: 66%;
    height: 34%;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: rgba(79, 192, 141, 0.5);
  }
}
</style>
