<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.svg">
  <title>Wilovy</title>
</head>
<body class="bg-off-white dark:bg-oil-black text-oil-black dark:text-off-white font-sans">
  <main class="max-w-3xl mx-auto px-6 py-12">
      <slot></slot>
  </main>
</body>
</html>
